@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #330033;
    overflow-x: hidden;
}
*{
    color: white !important;
}