.menuContainer{
    position: relative;
    top: 50px;
}  
.menu-card-container{
    padding: 0px 50px 0px 50px;
}
.menu-card{
    width: 18rem;
    height: 22rem;
    margin-bottom: 30px;
}
.menu-text{
font-size: 1em;
}
.dishName{
    float: left;
}
.price{
    position: relative;
    left: 90px;
}
.addToCart{
    background-color: blueviolet;
    position: relative;
    left: 175px;
    max-height: 35px;
    width: 88px;
    text-shadow: 1em;
    vertical-align: middle;
    line-height: 15px;
    outline-color: blueviolet;
    border-radius: 5px;
    border-color: blueviolet;
}
.addToCart:hover{
    background-color: #330033;
    border-color: #330033;
}
.decrement{
    width: 2px;
    max-height: 35px;
    background-color: blueviolet;
    float: left;
    border-color: blueviolet;
}
.showMenu{
    max-height: 35px;
    background-color:white;
    color: #330033;
    float:left;
    border-color: blueviolet;
}
.showMenu:hover{
    max-height: 35px;
    border-color: #330033;
    background-color: #330033;
    color: white !important;
    float:left;
}
.increment{
    width: 2px;
    max-height: 35px;
    background-color: blueviolet;
    border-color: blueviolet;
}
.decrement:hover{
    max-height: 35px;
    border-color: #330033;
    background-color: #330033;
}
.increment:hover{
    max-height: 35px;
    border-color: #330033;
    background-color: #330033;
}
.card-body-menu *{
    color: #330033 !important;
}