@keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}

#register{
    animation: 0.5s ease-out 0s 1 slideInFromTop;
    margin-top: 30px;
}
.form-section, .form-control{
    background-color: white !important;
    color: #330033 !important;
}
.form-section{
    height: 50vh;
    border-radius: 5px;
}
label, h2{
    color: #330033 !important;
}
.btn-primary{
    background-color: #330033;
    border-color: #330033;
}
.btn-primary:hover{
    background-color: rgba(51,0,51,0.9);
    border-color: #330033;
}
.submit-btn{
    float: right;
    margin: 20px 0;
}
.input-group-text, .custom-file-label::after{
    background-color: rgb(51, 0, 51, 0.4);
    color: white;
}
.form-control:focus{
    border:1px solid #330033;
    box-shadow: 0 0 10px #330033;
}

h2{
    margin-top: 10px;
}

@media (max-width: 420px){
    #register{
        height: 110vh;
        margin-bottom: 20px;
    }
    .form-section{
        height: 100%;
    }
}