#main-cart-container{
    height: 60vh;
    margin: 10px;
    animation: 0.5s ease-out 0s 1 slideInFromTop;
    margin-top: 30px;
}

.main-cart-div{
    border-radius: 5px;
    background-color: white !important;
    margin: 75px auto;
}
.new-table *{
    margin-top: 30px;
    color: #330033 !important;
}
.values{
    text-transform: uppercase;
}

.cart-button{
    border-radius: 20px;
    width: 30%;
    background-color: #330033;
}
.cart-button:hover{
    background-color: blueviolet;
}

@media (min-width: 992px){
.values{
    word-break: break-all;
}
}

@media (max-width: 540px){
    .main-cart-div {
        margin-bottom: 20px;
    }
    .form-section{
        height: 100%;
    }
}