.mainContainer{
    background-color: white;
    border: 0.1px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: 25%;
    text-align: center;
    height: 70vh;
    width: 50%;
}
.loginImg{
    height: 70vh;
    border-radius: 10px 0 0 10px;
}

.leftContainer{
    overflow: hidden;
}
.content{
    padding: 10px 30px 10px 30px;
    position: relative;
    top: 20%;
    justify-content: center;
    min-height: inherit;
    text-align: center;
}
.loginButton{
    margin-top: 20px;
    border-radius: 20px;
    width: 50%;
    background-color: #330033;
}
.loginButton:hover{
    background-color: rgba(51,0,51,0.8);
}
.header{
   position: relative;
   top:10%;
}
.loginHeading{
    font-size: 2em;
    font-weight: bold;
    color: #330033 !important;
}
.content *{
    color: rgb(51, 0, 51) !important;
}
.btn:not(:disabled):not(.disabled) {
    color: white !important;
}
@media only screen and (max-width: 800px)
{
    .mainContainer{
        top: 0;
        left: 0;
        height: 140vh;
        width: auto;
        padding: 0;
        margin: 80px 10px;
    }
    .loginImg{
        height: 70vh;
        border-radius: 10px 10px 0 0;
    }
    .rightContainer{
        height: 70vh;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 992px)
{
    .leftContainer{
        padding-left: 1px;
    }
}